**/.ipynb_checkpoints/
.DS_Store

data/00_zip_data/hjc/
data/00_zip_data/kyi/
data/00_zip_data/sed/

data/data/01_unzip_data/hjc/
data/data/01_unzip_data/kyi/
data/data/01_unzip_data/sed/

data/02_format_data/

!data/02_format_data/format_info/

data/03_preprocessed_data/

data/04_merged_data/

data/05_target_and_features/

data/06_test_data_and_learned_model/
